/*******
LAYOUT STYLES
********/

.personal, main {
	position: absolute;
	padding: 1%;
	box-sizing: border-box;
}

.personal {
	width: 25%;
}

.contact {
	margin-top: .125em;
}

.contact li {
	padding: .125em;
}

main {
	right: 0;
	width: 75%;
}


main h2, main li, main h3  {
	margin-bottom: .3125em;
}

main p {
	text-indent: 1.5em;
}

/*******
FONT STYLES
********/

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 2em;
	text-shadow: 1px 1px 1px #666;
}

h3 {
	font-size: 1.5em;
	font-style: italic;
}

/******
COLOURS
*******/

.contact, main p {
	color: #666;
}

h2 {
	color: green;
}